body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  h2 {
    color: #333;
  }
  
  .event-creation, .guest-list {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-image, .guestlist-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .input-field {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-button, .add-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-button:hover, .add-button:hover {
    background-color: #218838;
  }